<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.swq.dao.UserDao">
    <insert id="insertNum">
        INSERT INTO testnum7 (
              num1,
              num2,
              num3,
              num4,
              num5,
              num6,
              num7,
              num8
        )
        VALUES
        (
        #{n0},
        #{n1},
        #{n2},
        #{n3},
        #{n4},
        #{n5},
        #{n6},
        #{n7}
        )
    </insert>
    <insert id="insertBatch" parameterType="list">
    REPLACE INTO
    bonus_table
    (
    id,
    num1,
    num2,
    num3,
    num4,
    num5,
    num6,
    num7,
    num8
    )
    VALUES
    <foreach collection ="list" item="item" index= "index" separator =",">
        (
        #{item.id},
        #{item.n0},
        #{item.n1},
        #{item.n2},
        #{item.n3},
        #{item.n4},
        #{item.n5},
        #{item.n6},
        #{item.n7}
        )
    </foreach >
     </insert>
    <insert id="insertBatchForNovel" parameterType="list">
        REPLACE INTO
        novel_table
        (
        id,
        novel_name,
        cate,
        url
        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.id},
            #{item.novel_name},
            #{item.cate},
            #{item.url}
            )
        </foreach >
    </insert>
    <select id="queryList">
        select * from bonus_table
    </select>

</mapper>