<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../JS/jquery-1.9.1.min.js"></script>
    <style>
        .circle {
            width: 100px;
            height: 100px;
            background-color: red;
            color: white;
            font-size: 20px;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .flex {
            display: flex;
        }

        .flexRow {
            display: flex;
            flex-direction: row;
        }

        .flexCol {
            display: flex;
            flex-direction: column;
        }

        .flex1 {
            flex: 1;
        }

        .flex0 {
            flex: 0;
        }

        .numClass {
            font-size: 40px;
            color: #FFFFFF;
            margin: 20px auto;
            text-align: center;
        }
    </style>
</head>
<body>
<!--<img src="1442280588_440x3186.jpg" height="3186" width="440"/>-->
<!--<div>我是不起眼的中奖号码</div>-->

<div id="element_0" class="flex" style="max-width: 800px;">
    <div class="circle flex1">
        <p class="numClass"></p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass"></p></div>
    <div>&nbsp;</div>
</div>
<div id="element_1" class="flex" style="max-width: 800px;">
    <div class="circle flex1">
        <p class="numClass"></p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass"></p></div>
    <div>&nbsp;</div>
</div>
<div id="element_2" class="flex" style="max-width: 800px;">
    <div class="circle flex1">
        <p class="numClass"></p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass"></p></div>
    <div>&nbsp;</div>
</div>
<div id="element_3" class="flex" style="max-width: 800px;">
    <div class="circle flex1">
        <p class="numClass"></p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass"></p></div>
    <div>&nbsp;</div>
</div>
<div id="element_4" class="flex" style="max-width: 800px;">
    <div class="circle flex1">
        <p class="numClass"></p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p>
    </div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass">

        </p></div>
    <div>&nbsp;</div>
    <div class="circle flex1" style="background-color: blue">
        <p class="numClass"></p></div>
    <div>&nbsp;</div>
</div>
</body>
<script>
    $.post("/user/queryOneGroup", function (data) {
        displayNum('element_0',data[0])
        displayNum('element_1',data[1])
        displayNum('element_2',data[2])
        displayNum('element_3',data[3])
        displayNum('element_4',data[4])
    })
    function displayNum(id,data) {
        $("#"+id+" .numClass:first").text(data[0])
        $("#"+id+">.circle:nth-child(3)>p").text(data[1])
        $("#"+id+">.circle:nth-child(5)>p").text(data[2])
        $("#"+id+">.circle:nth-child(7)>p").text(data[3])
        $("#"+id+">.circle:nth-child(9)>p").text(data[4])
        $("#"+id+">.circle:nth-child(11)>p").text(data[5])
        $("#"+id+">.circle:nth-child(13)>p").text(data[6])
    }
</script>
</html>